{% extends 'inventory/base.html' %}
{% block content %}
<div class="container">
    <a href="/inv/bank-add" class="btn btn-success btn-sm">Add New Bank</a>
    <div class="row">
        <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Bank Name</th>
            <th scope="col">Account Number</th>
            <th scope="col">Branch</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for bank in banks %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ bank.bank_name }}</td>
                    <td>{{ bank.account_number }}</td>
                    <td>{{ bank.branch_name }}</td>
                    <td>
                        <a href="/inv/bank-edit/{{ bank.id }}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                        <a href="/inv/bank-delete/{{ bank.id }}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>

{% endblock %}