{% extends 'inventory/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ customer.customer_name }}</td>
                    <td>{{ customer.customer_phone }}</td>
                    <td>{{ customer.customer_email }}</td>
                    <td>
                        <a href="" class="btn btn-success btn-sm"><i class="fas fa-eye"></i></a>
                        <a href="" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                        <a href="" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>

{% endblock %}