{% extends 'inventory/base.html' %}
{% block content %}
<div class="container">
    <a href="/inv/expense-category-add" class="btn btn-success btn-sm">Add New Expense Category</a>
    <div class="row">
        <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Expense Category Name</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in excat %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ obj.expense_category }}</td>
                    <td>
                        <a href="/inv/expense-category-edit/{{ obj.id }}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                        <a href="/inv/expense-category-delete/{{ obj.id }}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>

{% endblock %}