{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <form method="POST">
        {% csrf_token %}
            <div class="form-group">
                <label for="category">Category<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="category" placeholder="Enter your Category here" name="category" value="{{ get_category.category_name }}" required>
            </div>
            <div class="text-center mt-5">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
    </form>
</div>
{% endblock %}