{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1>Color List</h1>
    <a href="/color-add" class="btn btn-success">Add New Color</a>
    <a href="/color-list-excel-export" class="btn btn-info">Excel</a>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Color Name</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
               {% for obj in get_colors %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ obj.color_name }}</td>
                    <td>
                        <a href="/color-edit/{{ obj.id }}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                        <a href="/color-delete/{{ obj.id }}"class="btn btn-danger"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
               {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}