{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3>Edit Employee</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="full_name">Full Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="full_name" placeholder="Enter your full name here" name="full_name" value="{{ get_employee_info.full_name }}" required>
        </div>
        <div class="form-group">
            <label for="email">Email <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="email" placeholder="Enter your valid email address here" name="email" value="{{ get_employee_info.email }}" required>
        </div>
        <div class="form-group">
            <label for="phone">Phone Number <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="phone" placeholder="Enter your valid phone number here" name="phone" value="{{ get_employee_info.phone }}" required>
        </div>
        <div class="">
            <label for="present_address">Present Address</label>
            <input type="text" class="form-control" id="present_address" placeholder="Enter your valid present address here" name="present_address" value="{{ get_employee_info.present_address }}">
        </div>
        <div class="form-group">
            <label for="permanent_address">Permanent Address</label>
            <input type="text" class="form-control" id="permanent_address" placeholder="Enter your permanent address here" name="permanent_address" value="{{ get_employee_info.permanent_address }}">
        </div>
        <div class="form-group">
            <label> Date of Birth </label>
            <input type="date" class="form-control" name="dob" value="{{ get_employee_info.dob|date:'Y-m-d' }}" />
        </div>
        <div class="form-group">
            <label for="fathers_name">Father's Name<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="fathers_name" placeholder="Enter your valid father's name number here" name="fathers_name" value="{{ get_employee_info.fathers_name }}" required>
        </div>
        <div class="form-group">
            <label for="mothers_name">Mother's Name<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="mothers_name" placeholder="Enter your valid mother's name number here" name="mothers_name" value="{{ get_employee_info.mothers_name }}" required>
        </div>
        <div class="form-group">
            <label for="job_title">Job Title<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="job_title" placeholder="Enter your job title here" name="job_title" value="{{ get_employee_info.job_title }}" required>
        </div>
        <div class="form-group">
            <label for="department">Select Department<span class="text-danger">*</span></label>
            
            <select name="department" class="form-control">
                <option value="">Select Department</option>
                {% for obj in get_department %}
                    {% if obj.id == get_employee_info.department_id %}
                        <option value="{{obj.id}}" selected>{{ obj.department }}</option>
                    {% else %}
                        <option value="{{obj.id}}">{{ obj.department }}</option>
                    {% endif %}
                {% endfor %}
            </select>  
        </div>
        <div class="text-center mt-5">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
{% endblock %}