{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1>Size List</h1>
    <a href="/size-add" class="btn btn-success">Add New Size</a>
    <a href="/size-list-excel-export" class="btn btn-info">Excel</a>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Size Name</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
               {% for obj in get_size %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ obj.size_name }}</td>
                    <td>
                        <a href="/size-edit/{{ obj.id }}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                        <a href="/brand-delete/{{ obj.id }}"class="btn btn-danger"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
               {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}